.body-container {
    margin-top: 118px;
}
.add-cart-title-location-wrapper {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, .1);
    .add-cart-title {
        font-size: 16px;
        font-weight: bold;
        float: left;
        width: 50%;
        span {
            font-style: italic;
            font-size: 14px;
        }
    }
    .add-cart-location {
        float: left;
        width: 50%;
        text-align: right;
        position: relative;
        span.location-icon {
            position: absolute;
            right: 225px;
            top: 0px;
            font-size: 18px;
        }
        .location-check {
            position: absolute;
            right: 6px;
            top: 2px;
            font-size: 14px;
            font-weight: bold;
            color: #428bca;
            cursor: pointer;
            background: none;
            border: none;
            &:hover {
                color: #e22d61;
            }
        }
        input {
            border-bottom: 2px solid #e22d61;
            border-left: none;
            border-right: none;
            border-top: none;
            width: 65%;
            padding-left: 30px;
            padding-right: 50px;
            padding-bottom: 24px;
            float: right;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .cart-price-title {
        font-size: 16px;
        font-weight: bold;
        float: left;
        padding-bottom: 18px;
    }
    
}
.cart-increment-decrement-wrapper {
    float: left;
    width: 100%;
    margin-top: 12px;
    text-align: center;
    .cart-increment,
    .cart-decrement {
        border: 1px solid #ccc;
        padding: 6px 8px;
        border-radius: 50%;
        cursor: pointer;
        background: linear-gradient(#fff, #f9f9f9);
    }
    .cart-increment {
        margin-right: 6px;
    }
    .cart-decrement {
        margin-left: 6px;
        &.disabled {
            cursor: not-allowed;
            color: #ccc;
        }
    }
    .cart-no-of-items {
        border: 1px solid #ccc;
        padding: 6px 24px;
        font-weight: bold;
    }
}
.cart-product-name {
    font-size: 22px;
    font-weight: bold;
}
.cart-product-discount-price {
    font-size: 20px;
    font-weight: bold;
    color: #e22d61;
}

.cart-product-original-price {
    font-size: 16px;
    text-decoration: line-through;
    margin: 0 12px;
}

.cart-product-discount-percentage {
    font-size: 16px;
    font-weight: bold;
    color: #388e3c;
}
.cart-action-buttons-wrapper {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    span {
        cursor: pointer;
        &:hover {
            color: #e22d61;
        }
        &:first-child {
            margin-right: 18px;
        }
    }
}

.cart-footer-wrapper {
    box-shadow: 0px -8px 5px -3px rgba(0, 0, 0, .1);
    margin-top: 30px;
}

.cart-price-wrapper {
    float: left;
    width: 100%;
    ul {
        padding: 0;
        list-style: none;
        float: left;
        li {
            font-size: 16px;
            float: left;
            width: 100%;
            margin-bottom: 12px;
            .cart-price-text {
                float: left;
                width: 50%;
            }
            .cart-price-details {
                text-align: right;
                width: 50%;
                float: right;
            }
            &.cart-price-divider {
                border-bottom: 1px dashed #ccc;
            }
            .cart-price-slogan {
                font-weight: normal;
                font-size: 14px;
                color: #388e3c;
            }
        }
    }
    .cart-secure-wrapper {
        float: left;
        width: 100%;
        .cart-secure-icon {
            float: left;
            width: 14%;
            font-size: 38px;
            color: #e22d61;
        }
        .cart-secure-info {
            font-weight: bold;
            padding-top: 8px;
            float: left;
            color: #616161;
        }
    }
}
