///--------------------------------------------------
// Variables
///--------------------------------------------------
@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Roboto';

$primary-brand-color: #e22d61;
$secondary-brand-color: #e22c60;

$brand-blue: #007bff;

$brand-twitter:#659FCB;
$brand-facebook:#3864A3;
$brand-linkedIn:#0177B5;
$brand-skype:#00AFF0;
$brand-google-plus:#DD4B39;
$main-text-color: #333333;
$grey-25:#252525;
$grey-000:#000;
$grey-bbb:#bbbbbb;
$grey-ccc: #cccccc;
$grey-ddd: #dddddd;
$grey-ec:#ececec;
$grey-555:#555555;
$grey-56:#565656;
$grey-f1:#f1f1f1;
$white: #ffffff;

$link-color: $primary-brand-color;
$linl-hover-color: $secondary-brand-color;

$font-lato:'Lato', sans-serif;
$font-roboto:'Roboto', sans-serif;